.error-message {
    color: red;
    font-size: 1em;
  }

  button {
      min-height: 30px;
  }

  .addFolderForm {
      text-align: center;
      align-items: center;
      border: solid;
      padding: 5px;
  }

  #folderName {
      width: 100%;
      margin: 5px;
  }